/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize/components/color-variables";
$primary-color: color("red", "base") !default;
$secondary-color: color("grey", "darken-4") !default;
@import 'materialize';

.whole-screen {
  width: 98%;
  height: 98%;
  position: absolute;
}

.centerpiece {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.scoreboard {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  margin: 10px;
  width: 300px;
  height: 100%;
}

tr.active {
  background-color: color("grey", "darken-4");
  color: color("grey", "lighten-1");
}

.end-game-button {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 10px;
}

.tiles {
  display: flex;
}

.tile {
  width: 80px;
  height: 80px;
  margin: 10px;

  .card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    user-select: none;
  }
}

